In [1]:
import pandas as pd

In [2]:
course_name = ['Data Science','Machine Learning','Big Data', 'Data Engineer']

In [3]:
duration = [2,3,6,4]

In [4]:
df = pd.DataFrame(data= {'course_name':course_name,
                          'duration': duration})

In [5]:
df['duration']

0    2
1    3
2    6
3    4
Name: duration, dtype: int64

Q.2) The functions loc and iloc are used to select rows and columns from a pandas.DataFrame object in Python. They have some similarities and differences in their functionality and syntax.

1) loc is a label-based indexing method, which means it selects data by the names or labels of the rows and columns. It can also accept boolean arrays as inputs. It includes the last element of the range passed to it.
2) iloc is an integer-based indexing method, which means it selects data by the positions or indices of the rows and columns. It does not accept boolean arrays as inputs. It excludes the last element of the range passed to it

Q.3) To reindex the given dataframe using a variable, reindex = [3,0,1,2], you can use the reindex() method of pandas.DataFrame and pass the variable as the argument. This will create a new dataframe with the rows rearranged according to the new index. You can assign this new dataframe to the variable new_df.<br><br>
Yes, I observed some differences in the outputs of new_df.loc2 and new_df.iloc2. The reason is that loc and iloc are different methods of selecting data from a pandas.DataFrame.

loc is a label-based indexing method, which means it selects data by the names or labels of the rows and columns. It includes the last element of the range passed to it.
iloc is an integer-based indexing method, which means it selects data by the positions or indices of the rows and columns. It excludes the last element of the range passed to it.
In your example, new_df is a DataFrame that has been reindexed using a variable reindex = [3,0,1,2]. This means that the rows have been rearranged according to the new index. The original index labels are still preserved, but their locations have changed. For example, the row with index label 2 is now at location 3 in new_df.

Therefore, when you use new_df.loc2, you are selecting the row with index label 2, which is the same as the original DataFrame data. However, when you use new_df.iloc2, you are selecting the row at location 2 in new_df, which is actually the row with index label 1 in data.

In [6]:
# Import pandas library
import pandas as pd

# Import numpy library
import numpy as np

# Define the columns and indices
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

# Create a dataframe with random values
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

# Display the dataframe
display(df1)

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.004042  0.602193  0.770045  0.684032  0.727255  0.464959
2  0.280973  0.076701  0.921460  0.441503  0.148577  0.453308
3  0.358041  0.094468  0.371778  0.025691  0.402535  0.222212
4  0.465653  0.839728  0.634674  0.027692  0.057351  0.847059
5  0.384867  0.665687  0.722411  0.952852  0.507690  0.201721
6  0.178876  0.819222  0.447251  0.718907  0.814570  0.568089

In [7]:
# Find the mean of each and every column in the dataframe
df1.mean()

column_1    0.278742
column_2    0.516333
column_3    0.644603
column_4    0.475113
column_5    0.442996
column_6    0.459558
dtype: float64

In [8]:
# Find the standard deviation of column 'column_2'
df1['column_2'].std()

0.3456155436078941

Q.5) To replace the data present in the second row of column, ‘column_2’ by a string variable, you can use the loc method of pandas.DataFrame and assign the string value to the specified row and column. For example, if you want to replace the value 0.409253 in the second row of column, ‘column_2’ by the string ‘Hello’, you can write:

 Replace the data in the second row of column, 'column_2' by a string variable
<br><br>df1.loc[2, 'column_2'] = 'Hello'<br><br>
Copy
However, if you try to find the mean of column, ‘column_2’ after this operation, you will get an error. The reason is that the mean method of pandas.DataFrame can only operate on numeric data types, such as int or float. If you have a mixed data type column, such as a column that contains both numbers and strings, the mean method will raise a TypeError: could not convert string to float.

To avoid this error, you need to make sure that your column has a consistent data type that is compatible with the mean method. You can either convert your column to a numeric data type using the to_numeric function of pandas, or remove the non-numeric values from your column using the dropna method of pandas.DataFrame.

Q.6) Window functions in pandas are methods that allow you to perform some kind of calculations over a sliding or expanding partition of values in a pandas.Series or pandas.DataFrame object. They are useful for analyzing time series data, smoothing noisy data, calculating moving averages, finding trends, and more1.

There are four types of window functions in pandas:

Rolling window: This is a generic fixed or variable sliding window over the values. It can be specified by a number of observations or a time offset. It allows you to apply various aggregation functions such as sum, mean, median, min, max, etc. over the windowed values2.
Weighted window: This is a weighted, non-rectangular window supplied by the scipy.signal library. It allows you to apply different types of weights to the windowed values, such as triangular, hamming, blackman, etc. It also supports various aggregation functions3.
Expanding window: This is an accumulating window over the values. It starts from the first observation and expands until it covers the whole series or dataframe. It allows you to apply various aggregation functions over the expanding values.
Exponentially weighted window: This is an accumulating and exponentially weighted window over the values. It assigns more weight to recent observations and less weight to older ones. It allows you to apply various aggregation functions over the weighted values.

In [9]:
# Import pandas library
import pandas as pd

# Get the current date and time
now = pd.datetime.now()

# Print only the current month and year
print(now.strftime("%B %Y"))

September 2023

/tmp/ipykernel_231/3851014411.py:5: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  now = pd.datetime.now()

In [ ]:
# Import pandas library
import pandas as pd

# Prompt the user to enter the first date
date1 = input("Enter the first date (YYYY-MM-DD): ")

# Prompt the user to enter the second date
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert both dates to pandas.Timedelta objects
date1 = pd.to_timedelta(date1)
date2 = pd.to_timedelta(date2)

# Subtract the second date from the first date
diff = date1 - date2

# Access the components attribute of the difference
days = diff.components.days
hours = diff.components.hours
minutes = diff.components.minutes

# Print the result in a formatted string
print(f"The difference between {date1} and {date2} is {days} days, {hours} hours, and {minutes} minutes.")

In [ ]:
#import pandas library
import pandas as pd

#prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file: ")

#read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

#prompt the user to enter the column name
column_name = input("Enter the column name to convert to categorical: ")

#prompt the user to enter the category order as a comma-separated list
category_order = input("Enter the category order as a comma-separated list: ")

#convert the category order string to a list
category_order = category_order.split(",")

#create a categorical dtype with the specified order
cat_dtype = pd.CategoricalDtype(categories=category_order, ordered=True)

#convert the column to categorical dtype using astype() method
df[column_name] = df[column_name].astype(cat_dtype)

#sort the DataFrame by the categorical column using sort_values() method
df = df.sort_values(by=column_name)

#display the sorted DataFrame
print(df)

In [ ]:
#import pandas and matplotlib libraries
import pandas as pd
import matplotlib.pyplot as plt

#prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file: ")

#read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

#pivot the DataFrame to get sales by product category and date
df = df.pivot(index="Date", columns="Product Category", values="Sales")

#plot a stacked bar chart using plot() method with kind='bar' and stacked=True arguments
df.plot(kind='bar', stacked=True)

#add a title and labels to the chart using plt.title(), plt.xlabel(), and plt.ylabel() functions
plt.title("Sales by Product Category over Time")
plt.xlabel("Date")
plt.ylabel("Sales")

#show the chart using plt.show() function
plt.show()

In [ ]:
#import pandas library
import pandas as pd

#prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

#read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

#get the test score column as a pandas Series
test_score = df["Test Score"]

#calculate the mean, median, and mode of test scores using mean(), median(), and mode() methods
mean = test_score.mean()
median = test_score.median()
mode = test_score.mode()

#create a new DataFrame with statistic and value columns using pd.DataFrame() constructor
result = pd.DataFrame({"Statistic": ["Mean", "Median", "Mode"], "Value": [mean, median, mode]})

#display the result DataFrame as a table using tabulate() method with tablefmt='psql' argument
print(result.tabulate(tablefmt='psql'))