
Q1. A database is a collection of organized and structured data that can be stored, accessed, and manipulated electronically. SQL and NoSQL are two types of databases that differ in how they store and query data. SQL stands for Structured Query Language and is used to communicate with relational databases that store data in tables with predefined schemas. NoSQL stands for Not only SQL and is used to communicate with non-relational databases that store data in various formats such as documents, graphs, key-value pairs, or columns without fixed schemas.


Q2. DDL stands for Data Definition Language and is a subset of SQL that is used to define the structure of the database and its objects such as tables, views, indexes, etc. Some common DDL commands are:
- CREATE: This command is used to create a new database or a new table in an existing database. For example, `CREATE DATABASE test_db;` creates a new database named test_db. `CREATE TABLE students (id INT PRIMARY KEY, name VARCHAR(50), age INT);` creates a new table named students with three columns: id, name, and age.
- DROP: This command is used to delete an existing database or a table from the database. For example, `DROP DATABASE test_db;` deletes the database named test_db. `DROP TABLE students;` deletes the table named students.
- ALTER: This command is used to modify the structure of an existing table by adding, deleting, or changing columns or constraints. For example, `ALTER TABLE students ADD email VARCHAR(50);` adds a new column named email to the students table. `ALTER TABLE students DROP COLUMN age;` deletes the column named age from the students table. `ALTER TABLE students MODIFY name VARCHAR(100);` changes the data type of the name column from VARCHAR(50) to VARCHAR(100).
- TRUNCATE: This command is used to delete all the data from an existing table without affecting its structure. For example, `TRUNCATE TABLE students;` deletes all the rows from the students table but keeps the table definition.


Q3. DML stands for Data Manipulation Language and is a subset of SQL that is used to insert, update, or delete data from the database tables. Some common DML commands are:
- INSERT: This command is used to add new rows of data to a table. For example, `INSERT INTO students (id, name, email) VALUES (1, 'Alice', 'alice@example.com');` inserts a new row with id 1, name Alice, and email alice@example.com into the students table.
- UPDATE: This command is used to modify existing rows of data in a table. For example, `UPDATE students SET email = 'bob@example.com' WHERE id = 2;` updates the email column of the row with id 2 to bob@example.com in the students table.
- DELETE: This command is used to remove existing rows of data from a table. For example, `DELETE FROM students WHERE age > 20;` deletes all the rows from the students table where the age column is greater than 2


Q4. DQL stands for Data Query Language and is a subset of SQL that is used to retrieve data from the database tables. The most common DQL command is SELECT, which allows users to specify what columns and rows they want to see from one or more tables. For example, `SELECT name, email FROM students WHERE age < 18;` returns the name and email columns of all the rows from the students table where the age column is less than 18.



Q5. Primary Key and Foreign Key are two types of constraints that are used to enforce relationships between tables in a relational database. A primary key is a column or a combination of columns that uniquely identifies each row in a table. A primary key cannot have null values or duplicate values. For example, in the students table, the id column can be a primary key as it uniquely identifies each student. A foreign key is a column or a combination of columns that refers to a primary key in another table. A foreign key can have null values but cannot have values that do not exist in the referenced primary key. For example, in an enrollment table that stores which courses each student has enrolled in, there can be two foreign keys: student_id and course_id, which refer to the primary keys id in the students table and id in the courses table respectively.



Q6. To connect MySQL to python, we need to install a python package that can communicate with MySQL such as mysql-connector-python. Then we can use the following python code to connect MySQL to python:

```python

In [ ]:

# Import mysql.connector module
import mysql.connector

# Create a connection object
conn = mysql.connector.connect(
    host="localhost", # The host name or IP address of the MySQL server
    user="root", # The user name for MySQL
    password="password", # The password for MySQL
    database="test_db" # The name of the database to use
)

# Create a cursor object
cursor = conn.cursor()

# Use the cursor object to execute SQL queries
cursor.execute("SELECT * FROM students;") # Execute a SELECT query

# Fetch the results from the cursor object
results = cursor.fetchall() # Fetch all the rows from the query result

# Print the results
for row in results:
    print(row)

# Close the cursor object
cursor.close()

# Close the connection object
conn.close()
#The cursor() method creates a cursor object that can execute SQL queries on the connection object. 
#The execute() method executes a given SQL query on the cursor object and returns the result.


Q7. The order of execution of SQL clauses in an SQL query is as follows:
- FROM: This clause specifies the table or tables from which to retrieve data.
- JOIN: This clause specifies how to join multiple tables based on a common column or condition.
- WHERE: This clause filters the rows based on a given condition or expression.
- GROUP BY: This clause groups the rows based on one or more columns and applies aggregate functions such as SUM, COUNT, AVG, etc.
- HAVING: This clause filters the groups based on a given condition or expression.
- SELECT: This clause selects the columns to display from the filtered and grouped rows.
- DISTINCT: This clause removes duplicate rows from the selected columns.
- ORDER BY: This clause sorts the rows based on one or more columns or expressions.
- LIMIT: This clause limits the number of rows to return.